/* @import "~materialize-css/dist/css/materialize.min.css"; */

.form-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-error {
    color: #bf1650;
  }
  
  .input-error::before {
    display: inline;
    content: "⚠ ";
  }
  
  .input-form {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .label-form {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
    color: white;
    font-size: 17px;
    font-weight: bold;
  }
  
  .submit-form[type="submit"],
  .submit-form[type="submit"] {
    background: #ec5990;
    width: 100%;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  .submit-form[type="submit"]:hover,
  .submit-form[type="submit"]:hover {
    background: #bf1650;
  }
  
  .submit-form[type="submit"]:active,
  .submit-form[type="button"]:active,
  .submit-form[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  .input-form:disabled {
    opacity: 0.4;
  }
  
  .submit-form[type="button"]:hover {
    transition: 0.3s all;
  }
  
  .submit-form[type="submit"],
  .submit-form[type="button"],
  .submit-form[type="submit"] {
    -webkit-appearance: none;
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .submit-form[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  hr {
    margin-top: 30px;
  }
  
  .submit-form {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
/* 
  $small-screen-up: 541px;
$medium-screen-up: 769px;
$large-screen-up: 1025px;
$small-screen: 540px;
$medium-screen: 768px;
$large-screen: 1024px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";

$toast-height: 48px !default;
$toast-width: 540px;
$toast-color: #eeeeee !default;
$toast-text-color: #212121 !default;

$secondary-color: #00e676; */

#toast-container {
  display:block;
  position: fixed;
  z-index: 10000;
  top: 0 !important; 

  @media only screen and (max-width : 540px) {
    min-width: 100%;
    bottom: 0;
  }

  @media only screen and (min-width : 540px) and (max-width : 768px) {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(540px / -2);
  }

  @media only screen and (min-width : 769px) {
    left: 48px / 3 * 2;
    bottom: 48px / 3 * 2;
    max-width: 90%;
  }
}

.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width:100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: keep-all;
  background-color: #db2727;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fffefe;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width : 540px) {
    width: 100%;
    border-radius: 0;
  }
  @media only screen and (min-width : 540px) and (max-width : 768px) {
    width: 540px;
  }
  @media only screen and (min-width : 769px) {
    float: left;
  }

}

.toast::before {
  display: inline;
  content: " ⚠ ";
}
