.main-footer {
    height: 50px;
    color: rgba(243, 210, 123, 1);
}

.has-error {
    border-color: #dc3545;
}

li {
    list-style-type: none;
}

.items {
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.2s;
}

.items:hover {
    text-decoration: none;
}

.logo {
    color: rgba(243, 210, 123, 1) !important;
}

.logo-wrapper {
    position: absolute;
    right: 36px;
    top: 10px;
}

.logo:hover {
    color: rgba(243, 210, 123, 1) !important;
}

.info-message {
    color: rgba(243, 210, 123, 1);
}

.update-button {
    width: inherit;
    height: 50px;
    border-radius: 25px;
}
